services:
  llm_train:
    build:
      context: ./docker/train
      dockerfile: Dockerfile
    image: llm-train
    container_name: llm_train
    runtime: nvidia

    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

    environment:
      - HF_HOME=/workspace/.hf

    volumes:
      - /mnt/e/llm/llm_env/models:/models
      - ./outputs:/workspace/outputs
      - /mnt/e/hf_cache:/workspace/.hf

    command: python train.py
